<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SuperOffice">
      <sectionGroup name="Factory">
        <section name="CustomFactories" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="DynamicLoad" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="Security">
        <section name="Cryptography" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="Sentry" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="FeatureToggles">
        <section name="State" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="Data">
        <section name="Session" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <section name="Services" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings configSource="Keys.config">
  </appSettings>
  <SuperOffice>
    <Data>
      <Session>
        <!-- HttpContext means that session information is stored in the Http context, instead of being recreated all the time -->
        <add key="Mode" value="Process" />
        <add key="ReauthenticateOnDeserialization" value="false" />
      </Session>
    </Data>
    <Factory>
      <DynamicLoad>
        <!--Required to support RemoteMode Only-->
        <add key="RequiredProxy" value="SuperOffice.Services.WcfProxy.dll" />
      </DynamicLoad>
    </Factory>
    <Services>
      <!-- Mode can be Local, Remote, Switch -->
      <add key="DefaultMode" value="Remote" />
      <!-- Default mode for the switch.  Can be Local or Remote -->
      <add key="SwitchDefault" value="Remote" />
      <!-- Timeout before failover in seconds -->
      <add key="SwitchFailover" value="60" />
      <!-- Base URL for remote services -->
      <add key="RemoteBaseURL" value="" />
      <!-- only support 8.0 proxies in this release -->
    </Services>
  </SuperOffice>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Audience.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.DCF.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Messaging.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SOCore" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>