<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Audience.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.DCF.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Messaging.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SOCore" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>