#Build
/[Bb]uild/

#Junk
[Tt]humbs.db
*.DS_Store
.svn
.vs
~$*

#Visual Studio
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

# ASP.NET 5
project.lock.json
artifacts/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Fakes
FakesAssemblies/

/packages/
/src/InfoBridge.SuperLinq.TestApp/Keys.config
/src/InfoBridge.SuperLinq.CodeGen/App.config
