<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="MimeKit" version="1.16.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="SuperOffice.ContinuousDatabase" version="8.2.6642.1034" targetFramework="net451" />
  <package id="SuperOffice.NetServer.Core" version="8.2.6642.1034" targetFramework="net451" />
</packages>